<template>
<div>
    <h1 align="center">Bienvenue sur le meilleur framework PHP pour un BACKEND API</h1>
    <div class="mt-4">
        <nuxt-link to="/commencer" class="btn btn-success">Commencer -></nuxt-link>
        <a class="btn btn-primary" href="https://gitlab.com/ms--framework/" target="_blank">Gitlab Project</a>
    </div>
</div>
</template>

<script>
import Logo from "~/components/Logo.vue";

export default {
    components: {},
};
</script>
