<template>
<div>
    <h1>Documentation de votre API</h1>
    <p>Pour la documentation de votre api, en relation à vos models et controlleurs</p>
    <code>composer swagger</code>
    <p>
        Pour regarder le résultant aller dans votre url
        <strong>/swagger</strong>
    </p>
    <div class="mt-4">
        <nuxt-link to="/devops" class="btn btn-primary">DEVOPS -></nuxt-link>
    </div>
</div>
</template>
